input{
    border-radius: 3rem;
    margin-bottom: 1rem;
}
label{
    font-family: cursive;
}
#nomeDoCantor{
    box-shadow: 0px 3px 6px lightgreen;
}
#generoDaMusica{
    box-shadow: 0px 3px 6px red;
}
#nomeDaMusica{
    box-shadow: 0px 3px 6px blue;
}
.flex{
    width: 70%
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
}
button{
    width: 50%;
    border-radius: 3rem;
    margin-top: 1rem;
    box-shadow: 0px 3px 6px gray;
}
.inputs{
    margin-top: 2rem;
}