<div class="container">
    <div class="flex">
        <form (ngSubmit)="cadastro()" [formGroup]="formulario">
            <div class="inputs">
                <input type="text" name="nomeDoCantor" class="form-control" placeholder="Nome do Cantor" formControl>
                <input type="text" name="generoDaMusica" class="form-control" placeholder="Gênero da música">
                <input type="text" name="NomeDaMusica" class="form-control" placeholder="Nome da Música">
            </div>
            <button class="btn btn-danger" submit type="submit">Adicionar</button>
        </form>

    </div>

</div>